@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: #333;
}

/* Tags */
body {
  font-family: "Montserrat", sans-serif;
}

h1,
p {
  margin-bottom: 1.75rem;
}

a {
  text-decoration: none;
  color: #8a6e4b;
}

form {
  margin: 2rem 0 1rem;
  padding: 1rem 0;
}

label {
  display: block;
  margin: 1rem 0 0;
  padding: 0.75rem 1rem;
  background-color: #333;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px 4px 0 0;
}

input,
textarea,
select {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1.25rem 0.5rem;
  background-color: #eee;
  font-size: 1rem;
  border: none;
  border-radius: 0 0 4px 4px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 2px 4px #8a6e4b;
  border-radius: 4px;
}

textarea {
  height: 94px;
}

hr {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: 3px double #8a6e4b;
  color: #fff;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
hr:after {
  content: "&";
  display: inline-block;
  position: relative;
  top: -1.1rem;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
  background: #8a6e4b;
}

/* Navigation */
header {
  position: sticky;
  top: 0;
  height: 105px;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
}

.nav-desktop {
  display: flex;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8a6e4b;
  width: 115px;
  height: 100%;
  margin-right: 2rem;
}

.logo a,
.logo img {
  width: 65px;
  height: 65px;
}

.nav-desktop ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-desktop ul li:not(:last-of-type) {
  margin-right: 2rem;
}

.nav-desktop ul li a {
  color: #2d2d2d;
  font-family: "Oswald", sans-serif;
  font-size: 1.15rem;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 2.5rem;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.6s ease;
}

.nav-desktop ul li a:hover {
  border-bottom: #8a6e4b 3px solid;
}

/* End Navigation */

/* Mobile Navigation */
.nav-mobile {
  display: none;
  height: 100%;
}

.nav-mobile .navbar {
  height: 100%;
  justify-content: center;
  position: relative;
}

.menu {
  position: absolute;
  top: 40px;
  left: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
  transition: all 0.7s ease;
}

.menu:focus {
  outline: none;
}

.menu.close {
  transform: rotate(180deg);
}

.menu.close .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu.close .icon-bar:nth-child(2) {
  opacity: 0;
}

.menu.close .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.icon-bar {
  height: 3px;
  width: 100%;
  background-color: #8a6e4b;
  border-radius: 1px;
  transition: all 0.7s ease;
}

.menu .icon-bar + .icon-bar {
  margin-top: 4px;
}

.mobile-logo {
  display: flex;
  align-items: center;
  width: 175px;
}

.mobile-logo img {
  width: 100%;
}

.nav-mobile-links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 70px 30px 30px;
  background-color: #f0efef;
  list-style: none;
  overflow: scroll;
}

.nav-mobile-links li {
  padding: 2.5rem 0;
  text-align: center;
}

.nav-mobile-links li:last-of-type {
  padding: 2rem 0 2.5rem;
}

.nav-mobile-links li a {
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #676767;
  text-transform: uppercase;
}

.nav-mobile-links li a:hover {
  color: #333;
  border-bottom: #8a6e4b 3px solid;
}

/* End Mobile Navigation */

/* Classes */
.container {
  width: min(1200px, 100%);
  margin: 0 auto;
  padding: 4rem 2rem;
}

.name {
  color: #8a6e4b;
  font-size: 20px;
  font-weight: bold;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.contact {
  font-size: 14px;
  margin-bottom: 16px;
}

.address {
  color: #8a6e4b;
  font-size: 14px;
}

.copy {
  margin-bottom: 1.75rem;
}

.result {
  display: inline-block;
  transition: all 0.5s ease;
  padding: 1.5rem;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
}

.result:hover {
  transform: scale(0.95);
}

.invalid {
  color: red;
}

.hidden {
  display: none;
}

/* End Classes */

/* Footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3.125rem;
  background-color: #303030;
  font-size: 1.15rem;
}

footer ul {
  margin-top: 2rem;
  padding: 1rem;
  list-style: none;
  line-height: 1.5rem;
}

.contact-links li,
.contact-links li div {
  margin-bottom: 0.5rem;
}

.primary-links {
  font-weight: bold;
}

.primary-links,
.secondary-links {
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.primary-links li,
.secondary-links li {
  margin-bottom: 1.5rem;
}

.contact-links li,
.contact-links li a,
.contact-links li a div {
  font-size: 1rem;
}

.contact-links li,
.contact-links li a,
.contact-links li a div,
.primary-links li a {
  color: #fff;
}

.contact-links li a,
.primary-links li a,
.secondary-links li a {
  transition: all 0.5s ease;
}

.contact-links li a:hover,
.contact-links li a div:hover,
.primary-links li a:hover {
  color: #8a6e4b;
}

.secondary-links li a:hover {
  color: #fff;
}

/* End Footer */

/* Media */
@media (max-width: 1200px) {
  footer {
    flex-wrap: wrap;
  }

  .contact-links {
    order: 4;
  }
}

@media (max-width: 991px) {
  .nav-desktop {
    display: none;
  }

  .nav-mobile {
    display: block;
  }

  .nav-mobile .navbar {
    display: flex;
  }

  .result:hover {
    transform: scale(1);
    cursor: default;
  }
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
  }

  footer .secondary-links {
    margin-top: 0;
  }

  footer .primary-links li:last-of-type,
  footer .secondary-links li:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 3rem 1.15rem 2rem;
  }

  label {
    font-size: 1rem;
  }

  input,
  select,
  textarea {
    font-size: 0.85rem;
  }

  .result {
    display: block;
  }
}
