@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: #333;
}

/* Tags */
body {
  font-family: sans-serif;
}

h1,
p {
  margin-bottom: 1.75rem;
}

a {
  text-decoration: none;
  color: #8a6e4b;
}

form {
  margin: 2rem 0 1rem;
  padding: 1rem 0;
}

label {
  display: block;
  margin: 1rem 0 0;
  padding: 0.75rem 1rem;
  background-color: #333;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 4px 4px 0 0;
}

input,
textarea,
select {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1.25rem 0.5rem;
  background-color: #eee;
  font-size: 1rem;
  border: none;
  border-radius: 0 0 4px 4px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 2px 4px #8a6e4b;
  border-radius: 4px;
}

textarea {
  height: 94px;
}

/* Navigation */
header {
  position: sticky;
  top: 0;
  height: 105px;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
}

nav {
  display: flex;
  height: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8a6e4b;
  width: 115px;
  height: 100%;
  margin-right: 2rem;
}

.logo a,
.logo img {
  width: 65px;
  height: 65px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li:not(:last-of-type) {
  margin-right: 2rem;
}

nav ul li a {
  color: #2d2d2d;
  font-family: "Oswald", sans-serif;
  font-size: 1.15rem;
  line-height: 20px;
  text-transform: uppercase;
  padding-bottom: 2.5rem;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.6s ease;
}

nav ul li a:hover {
  border-bottom: #8a6e4b 3px solid;
}

/* Classes */
.container {
  width: min(1200px, 100%);
  margin: 0 auto;
  padding: 4rem 2rem;
}

.name {
  color: #8a6e4b;
  font-size: 20px;
  font-weight: bold;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.contact {
  font-size: 14px;
}

.address {
  color: #8a6e4b;
  font-size: 14px;
}

.result {
  display: inline-block;
  transition: all 0.5s ease;
}

.result:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  padding: 1.5rem;
}

.invalid {
  color: red;
}

/* Media */
@media (max-width: 600px) {
  .container {
    padding: 3rem 1.15rem 2rem;
  }

  label {
    font-size: 1rem;
  }

  input,
  select,
  textarea {
    font-size: 0.85rem;
  }
}
